.registration-form > div + div,.registration-form footer {
	margin-top: 6px;
}

.registration-form > div > label + input {
	margin-left: 10px;
}

.registration-form footer > * {
	align-self: center;
}

.registration-form footer button {
	height: 25px;
	width: 100px;
	grid-column: 8 / 10;
	grid-row: 1 / 1;
}

.registration-form footer a {
	grid-column: 7 / 10;
	grid-row: 2 / 2;
}

@media only screen and (max-width: 600px) {
  .registration-form footer button {
  	height: 25px;
    width: auto;
  	grid-column: 6 / 10;
  	grid-row: 1 / 1;
  }

  .registration-form footer a {
  	grid-column: 4 / 12;
  	grid-row: 2 / 2;
  }
}
