.login-form > div + div,.login-form footer {
	margin-top: 6px;
}

.login-form > div > label + input {
	margin-left: 10px;
}

.login-form footer button {
	height: 25px;
	width: 75px;
	grid-column: 8 / 9;
	grid-row: 1 / 1;
}

.login-form footer a {
	grid-column: 7 / 10;
	grid-row: 2 / 2;
}
