@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
	margin-right: 1.5vw;
	margin-left: 1.5vw;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
	text-align: center;
}

.grid {
	display: grid;
	grid-template-columns: repeat(var(--cols-num, 16), 1fr);
	gap: 6px 0px;
}

.two-row.grid {
	grid-template-rows: repeat(2, 1fr);
}

.flex-container {
	display: flex;
	flex-flow: row wrap;
}

.vertical.flex-container {
	flex-direction: column;
}

.centered.vertical.flex-container {
	justify-content: center;
}
:root {
	--font-size: calc(10px + 1vmin);
	--cols-num: 16;
}
